<h1>Make Payment</h1>

<p>you currently owe $<%= @transfer.amount.round(2) %></P>

<%= form_for(@transfer, url: '/transfers/update', method: 'put') do |f| %>
<div class = "container"
	<div class = "row">
		<div class = "form-group col-md-4">
			<%= f.label :amount  %>
			<%= f.number_field :amount, :class => 'form-control borrow' %>
			<%= f.hidden_field :id, value: @transfer.id %>
 		</div>
 	</div>
 	 <div class="form-group col-md-2">
    	<%= f.submit "make payment!", :class => "btn btn-success" %>
  	</div>
</div>
<% end %>
