<!DOCTYPE html>
<html>
<head>
<link rel="Seed logo icon" href="/assets/favicon.ico" type="image/x-icon" />
  <title>Seed | Social Lending</title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
  <% if flash[:success] %>
    <div class="success">
      <%= flash[:success] %>
    </div>
  <% end %>
  <% if flash[:error] %>
    <div class="error">
      <%= flash[:error] %>
    </div>
  <% end %>
  </div>

  <%= yield %>
</body>
</html>
